<!DOCTYPE html>
<html>
  <head>
   Hello
  </head>
  <body>
    <div class="testbox">
      <form action="/">
        <div class="banner">
          <h1>Family Medicine Practice</h1>
        </div>
        <br/>
        <fieldset>
          <legend>Patient Information</legend>
          <div class="item">
		 <label for = "file">Select an image:</label>  
		 <input type="file" name="file" required>
          </div>
          </div>
        </fieldset>
        <br/>
          <button type="submit" href="/">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>